<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-title align="center">Registro</ion-title>
      </ion-toolbar>
    </ion-card-header>
    <form>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              placeholder=""
              [(ngModel)]="registro.nombre"
              name="nombre"
              required
            ></ion-input>
          </ion-item>
          <ion-item
            ><ion-label position="floating">Apellido</ion-label>
            <ion-input
              placeholder=""
              [(ngModel)]="registro.apellido"
              name="apellido"
              required
            ></ion-input>
          </ion-item>
          <ion-item
            ><ion-label position="floating">Correo</ion-label>
            <ion-input
              placeholder=""
              type="email"
              [(ngModel)]="registro.email"
              name="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item
            ><ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              placeholder=""
              [(ngModel)]="registro.pass"
              name="pass"
              required
            ></ion-input
          ></ion-item>
          <ion-button expand="block" (click)="crearUsuario()"
            >Registrarse</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
